<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bon de Decharge</title>
    <style>
        /* Add your CSS styles here */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Bon de Decharge</h1>
    <table>
        <tr>
            <th>numero</th>
            <td><%= bonDecharge.id %></td>
        </tr>
        <tr>
            <th>Magasinier</th>
            <td><%= magasinier.firstname %></td>
        </tr>
        <tr>
            <th>Consommateur</th>
            <td><%= user ? user.firstname  : 'N/A' %></td>
        </tr>
        <tr>
            <th>Date</th>
            <td><%= bonDecharge.date %></td>
        </tr>
        <tr>
            <th>Observation</th>
            <td><%= bonDecharge.observation || 'N/A' %></td>
        </tr>
    </table>
    <br>
    <h2>Produits Decharges</h2>
    <table>
        <tr>
            <th>Produit</th>
            <th>Quantity Decharged</th>
        </tr>
        <% produitsDetails.forEach(produit => { %>
            <tr>
                <td><%= produit.produitName %></td>
                <td><%= produit.dechargedquantity %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
